<div class="card text-center">
  <img class="card-img-top" [src]="product.photo" alt="" />
  <div class="card-body">
    <h6 class="card-title">{{ product.title }}</h6>
    <p class="card-text">
      <del class="text-danger mr-2" *ngIf="product.oldPrice != 0">{{ product.oldPrice | currency }}</del>
      <span class="text-success" [ngClass]="{ 'text-info': product.oldPrice === 0 }">{{ product.price | currency }}</span>
    </p>
  </div>
  <div class="card-footer">
    <span class="float-right" *ngIf="product.cartCount > 0">
      <i class="fa fa-shopping-cart text-muted"></i>
      <span class="text-muted">{{ product.cartCount }}</span>
    </span>
    <a href="#" class="btn btn-primary" (click)="addToCart($event)">
      <i class="fa fa-shopping-cart"></i>
      Add to cart
    </a>
  </div>
</div>
