h6 {
  font-weight: 800;
}
.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #bd0760;
  border-color: #bd0760;
}
